body {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: 'segoe ui', 'lucida sans unicode', 'lucida grande', lucida, sans-serif;
}

h1 {
    margin: 20px;
}

.container {
    position: relative;
    display: flex;
    &__block {
        position: relative;
        display: inline-block;
        background: #b5b5b5;
        margin: 20px;
        h2 {
            position: relative;
            display: block;
            margin: 20px;
        }
        video {
            position: relative;
            display: block;
            width: 300px;
            margin: 20px;
            background-color: black;
        }
    }

    &__user {
        display: inline-block;
        position: relative;
        margin: 5px;
        padding: 4px 15px;
        background-color: gray;
    }
}

button {
    position: relative;
    background: #b5b5b5;
    margin: 20px;
    width: 300px;
    height: 60px;
}